<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>616373361277-35thmen6as3stlm3nfcqvfo32t0boniv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.616373361277-35thmen6as3stlm3nfcqvfo32t0boniv</string>
	<key>API_KEY</key>
	<string>AIzaSyBvq9wuThsanpQrFC045xdqU4DT9iDDgf8</string>
	<key>GCM_SENDER_ID</key>
	<string>616373361277</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>rmit.capstone.fraa</string>
	<key>PROJECT_ID</key>
	<string>fraa-capstone</string>
	<key>STORAGE_BUCKET</key>
	<string>fraa-capstone.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:616373361277:ios:c1cf1d46b6e8de9ba6af14</string>
	<key>DATABASE_URL</key>
	<string>https://fraa-capstone.firebaseio.com</string>
</dict>
</plist>